
{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="col-lg-12 contenu-blanc shadow-lg">
        <h1>Contact</h1>

        {{ form(form) }}
    </div>
{% endblock %}
